# Prerequisites
**/*.d

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.obj
obj/*.o

# Precompiled Headers
**/*.gch
**/*.pch

# Compiled Dynamic libraries
**/*.so
**/*.dylib
**/*.dll

# Fortran module files
**/*.mod
**/*.smod

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib

# Executables
**/*.exe
**/*.out
**/*.app
Tanks

# KDevelop project files
*.kdev4
.kdev4/

# MAC files
**/*/.DS_Store
**/.DS_Store

# cmake and clion files
cmake-build-debug/*
*.idea
.idea/dictionaries/*
CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
CMakeFiles/clion-environment.txt
Makefile
tanksgame
tanksgame.cbp
